*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(71, 142, 223);
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main{
    background-color: rgb(83, 86, 90);
    width: 500px;
    padding: 2rem;
    border-radius: 10px;
    color: white;
}

.box{    
    margin: 1rem;
    display: flex;
    justify-content: center;
    padding: 10px;
}

#boxShadow{
    background-color: white;
    height: 70px;
    width: 70px;
}

.column{
    display: flex;
    flex-direction: column;
    margin: 2px 0;
}

.row{
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 2px 0;
}

textarea{
    width: 90%;
    resize: none;
    outline: none;
    border: none;
}

button{
    background-color: rgb(71, 142, 223);
    width: 10%;
    padding: 8px 0;
    outline: none;
    border: none;
    transition: background-color 0.3s;
    cursor: pointer;
}

button:hover{
    background-color: rgb(28, 95, 173);
}

